<div id="posts-{{id}}" class="post">
    <div class="post-body">
        <p class="post-user">{{username}}</p>
        <p class="post-caption">{{caption}}</p>
        <p class="post-created"> {{dateCreated}}</p>
    </div>
</div>