.grid-container {
    box-sizing: border-box;
    height: calc(100vh - 75px);
    max-width: 1770px;
    padding-left: 75px;
    padding-right: 75px;
    display: flex;
    justify-content: center;
}

.row-container { 
    height: 100%;
    width: 100%;
}

.post-stream {
    width: 900px;
}