.login-reg-wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
    background-image: url("https://images6.alphacoders.com/380/thumb-1920-380566.jpg");
}

.login-reg-box {
    margin: 0 75px;
    text-align: center;
    width: 100%;
    max-width: 575px;
    height: 700px;
    background-color: white;
    border: 0px grey solid;
    border-radius: 3%;
    box-sizing: border-box;
    padding: 10px;
}

.login-reg-box a {
    color: #00756C;
}

.login-reg-box a:hover {
    color: #00756C;
    text-decoration: none;
}

.login-reg-box img {
    position: relative;
    top: 5px;
    max-width: 128px;
    max-height: 128px;
}

.login-reg-box h1 {
    color: #00756C;
    font-size: 38px;
}

.login-reg-box input {
    width: 80%;
    height: 68px;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px #A9D8D4 solid;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 0 3%;
}

.next-button {
    width: 80%;
    height: 68px;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px #A9D8D4 solid;
    background: #A9D8D4;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 0 3%;
}

.submit-login {
    color: #00756C;
    background-color: #A9D8D4;
    border: 10px #A9D8D4 solid;
    position: relative;
}

.reg-input {
    background: #A9D8D4;
    border: 1px solid #A9D8D4;
}