.settings-container {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    
}

.settings-container label {
    padding-top: 20px;
    display: block;
    font-size: 1.5rem;
}

.settings-container input {
    display: block;
    width: 80%;
    height: 40px;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px #707070 solid;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 0 3%;
}
