.settings-container {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}

.settings-container label {
    padding-top: 20px;
    display: block;
    font-size: 1.5rem;
}

.settings-container input {
    display: block;
    width: 80%;
}