.sidebar {
    max-width: inherit;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
}

.collectionsidebar {
    max-width: inherit;
    box-sizing: border-box;
    width: 200px;
    height: 600px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #e5e5e5;
}

.sidebar-wrapper {
    margin: 50px 75px;
    text-align: center;
    width: 250px;
    height: 600px;
    background-color: white;
    border: 0px grey solid;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    justify-content: center;
    align-content: center;
    display: inline-block;
}

.collection-sidebar-wrapper {
    margin: 50px 75px;
    text-align: center;
    width: 250px;
    height: 600px;
    background-color: white;
    border: 0px grey solid;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    justify-content: center;
    align-content: center;
    display: flex;
}

.collectionstext {
    margin-top: 160px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    display: block;
}

.collectionstext a {
    color: #707070;
    text-decoration: none;
}

.collectionstext a:hover {
    text-decoration: underline;
}

.profileinfobar {
    display: flex;
    position: absolute;
}

.trendingstream {}

.trendingstream img {
    max-width: 120px;
}

.mediacount {
    font-size: 11px;
}