.post-stream {}

.post {
    background: white;
    min-height: 100px;
    max-height: 700px;
    border: 2px solid #e5e5e5;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    box-sizing: border-box;
    padding: 20px 30px;
    max-width: inherit;
    min-width: inherit;
}

.post a {
    color: inherit;
}

.post a:hover {
    color: inherit;
    text-decoration: none;
}

.post img {
    max-height: 300px;
}

.profilepic-post {
    /* Center the image within the element */
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

#profilepic-post {
    height: 56px;
    width: 56px;
}

.profilepic-post {
    float: left;
}

.post-details {
    box-sizing: border-box;
    margin-left: 10px;
}

.post-details h1 {
    font-size: 1.2rem;
    font-weight: bold;
}

.post-details h2 {
    font-size: 0.9rem;
}

.post-info {
    height: 70px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.post-content {
    text-align: center;
}

.post-caption {}

.post-photo {
    height: 300px;
}

.post-photo img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 5%;
    display: block;
    margin: 0 auto;
}

.profileinfobar {
    justify-content: center;
}

.user-edit {
    justify-content: right;
    text-align: right;
    top: 0;
    right: 0;
    float: right;
    font-size: 20px;
}

.center-cropped-icon {
    object-fit: none;
    /* Do not scale the image */
    object-position: center;
    /* Center the image within the element */
    height: 100px;
    width: 100px;
    border-radius: 50%;
}