.sidebar {
    max-width: inherit;
    box-sizing: border-box;
    height: 100%;
    max-width: 430px;
    display: flex;
    justify-content: center;
    background-color: #e5e5e5;
    padding-left: 0;
    padding-right: 0;
}

.trending-wrapper {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding-right: 20px;
    padding-left: 10px;
    border-right: 2px #e5e5e5 solid;
}

.trending-container {
    margin-top: 20px;
    text-align: center;
    width: 100%;
    height: 600px;
    background-color: white;
    border: 2px #e5e5e5 solid;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.collection-sidebar-wrapper {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding-right: 10px;
    padding-left: 20px;
    border-left: 2px #e5e5e5 solid;
}

.collection-sidebar-container {
    margin-top: 20px;
    text-align: center;
    width: 100%;
    height: 600px;
    background-color: white;
    border: 2px #e5e5e5 solid;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.collectionstext {
    margin-top: 160px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    display: block;
}

.collectionstext a {
    color: #707070;
    text-decoration: none;
}

.collectionstext a:hover {
    text-decoration: underline;
}

.profileinfobar {
    display: flex;
    position: absolute;
}

.trendingstream {}

.trendingstream img {
    max-width: 120px;
}

.mediacount {
    font-size: 11px;
}

.collectionsimages{
    max-width: 250px;
}

.collectionsimages img{
    height: 30%;
    width: 30%;
    margin: 4px;
}