<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <input type="text" placeholder="search" id="search-box">
  <button id="search-button">(X)</button>
  {{{body}}}
</body>

</html>